.form {
  display: flex;
  flex-direction: column;
}

.form > * {
  margin-bottom: 1em;
}

select {
  padding: 10px;
}

.search {
  padding: 20px;
}

.capabilitiesContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.capabilities {
  pointer-events: none;
  padding: 20px;
  cursor: unset;
  border: none;
  flex-grow: 1;
}

.submit {
  margin-top: 1em;
  padding: 2em
}

h5 {
  cursor: pointer;
}

#reserved {
  columns: 3;
}