.table {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  grid-auto-rows: auto;
  border: 1px solid #555555;
}

.header {
  background: #353535;
}

.column {
  padding: 10px;
}

.idx {
  text-align: right;
}

.back {
  padding: 20px;
  display: block;
  text-align: right;
}

.info {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
  padding: 20px 0px;
}