<div class="searchContainer">
  <slot>
    <button class="searchButton"
      @click="toggle()"
      :class='map("active", isSearchShowing)'
      v-vector="img.searchButton()"
      aria-label="i18n.searchButtonTitle()">
    </button>
  </slot>
  
  <!-- While this overlay works, it does not always work well due to parent z-indexing
  <!-- Disable for now, and make user deselect search content themselves.
  <div class="overlay"
    @click.stop="disable"
    :class='map("active", isSearchShowing))'></div>
   -->

  <horizontal-collapse :seek="(boolean) false">
    <map-search v-show="isSearchShowing"
      ref="input"
      :eventBus="eventBus"
      class="searchPopout"
      :auto="auto"
      @select-suggestion="selectSuggestion((SearchSuggestion) $event)" />
  </horizontal-collapse>
</div>

<style scoped lang="scss">
@import "horizontal-collapse.scss";

/*
.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #ffffff00;
  z-index: 0;
  inset: 0;
  pointer-events: none;
  transition: background 0.15s ease-out;
  
  &.active {
    pointer-events: all;
    background: #ffffff88;
  }
}
*/

.searchContainer {

}

.searchButton {
  z-index: 1;
  width: 48px;
  height: 48px;
  border: 2px solid #cacaca;
  transition: all 0.15s ease-out;
  
  border-radius: 50%;
  
  svg {
    fill: #575757;
    transition: fill 0.15s ease-out;
  }
  
  &.active, &:hover {
    background: var(--theme-color);
    
    svg {
      fill: white;
    }
  }
}

.searchPopout {
  z-index: 1;
  position: absolute;
  min-width: 400px;
  right: 80px;
  
  div {
    width: 100%;
  }
}
</style>