<div class="searchContainer">
  <slot>
    <button class="searchButton"
      @click="toggle()"
      :class='map("active", isSearchShowing)'
      v-vector="img.searchButton()"
      aria-label="i18n.searchButtonTitle()">
    </button>
  </slot>

  <horizontal-collapse :seek="(boolean) false">
    <map-search v-show="isSearchShowing"
      ref="input"
      :eventBus="eventBus"
      class="searchPopout"
      :auto="auto"
      @select-suggestion="selectSuggestion((SearchSuggestion) $event)" />
  </horizontal-collapse>
</div>

<style scoped lang="scss">
@import "horizontal-collapse.scss";

.searchContainer {
  --search-width: 400px;
}

.searchButton {
  z-index: 1;
  width: 48px;
  height: 48px;
  border: 2px solid #cacaca;
  transition: all 0.15s ease-out;

  border-radius: 50%;

  svg {
    fill: #575757;
    transition: fill 0.15s ease-out;
  }

  &.active, &:hover {
    background: var(--theme-color);

    svg {
      fill: white;
    }
  }
}

.searchPopout {
  z-index: 1;
  position: absolute;
  top: 0px;
  width: var(--search-width);
  right: calc(60px);

  div {
    width: 100%;
  }
}
</style>