<div class="searchContainer">
  <button class="searchButton"
    @click="searchShowing = !searchShowing"
    :class='map("active", searchShowing)'
    v-vector="img.searchButton()"
    aria-label="search popout">
  </button>

  <horizontal-collapse :seek="(boolean) false">
    <map-search v-show="searchShowing"
      :visible="searchShowing"
      :eventBus="eventBus"
      class="searchPopout"
      :auto="auto"
      @select-suggestion="selectSuggestion((SearchSuggestion) $event)"></map-search>
  </horizontal-collapse>
</div>

<style scoped lang="scss">
@import "horizontal-collapse.scss";

.searchContainer {

}

.searchButton {
  width: 48px;
  height: 48px;
  border: 2px solid #cacaca;
  transition: all 0.15s ease-out;
  
  border-radius: 50%;
  
  svg {
    fill: #575757;
    transition: fill 0.15s ease-out;
  }
  
  &.active, &:hover {
    background: var(--theme-color);
    
    svg {
      fill: white;
    }
  }
}

.searchPopout {
  position: absolute;
  width: 420px;
  right: 55px;
  top: 6px;
  
  div {
    width: 100%;
  }
}
</style>