<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>AERIUS Search Results</title>
  
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/form.css">

  <script src="form.js"></script>
</head>
<body onload="init()">
  <div class="container">
    <h1>Search form</h1>

    <form action="/results" method="get" class="form">
      <h3>Query</h3>
      <input type="text" class="search" name="query" placeholder="Search...">

      <h4>Capabilities</h4>
      <div class="capabilitiesContainer">
        <input type="text" id="capabilities" name="capabilities" class="capabilities">
      </div>
      
      <h4>Region</h4>
      <select id="region" name="region">
        <option name="nl" value="NL">nl</option>
        <option name="uk" value="UK">uk</option>
      </select>
      
      <h4>Flags</h4>
      
      <h5>AERIUS</h5>
      <div id="aerius">
        <div><input type="checkbox" id="RECEPTOR" data-name="RECEPTOR" onchange="toggleCapability(this)" checked> <label for="RECEPTOR">receptor (Receptor grid)</label></div>
        <div><input type="checkbox" id="COORDINATE" data-name="COORDINATE" onchange="toggleCapability(this)" checked> <label for="COORDINATE">coordinate (and optional receptor grid)</label></div>
        <div><input type="checkbox" id="BASIC_INFO" data-name="BASIC_INFO" onchange="toggleCapability(this)" checked><label for="BASIC_INFO">basic_info (municipalities, addresses, postal codes, etc.)</label></div>
        <div><input type="checkbox" id="ASSESSMENT_AREA" data-name="ASSESSMENT_AREA" onchange="toggleCapability(this)" checked><label for="ASSESSMENT_AREA">assessment_area (assessment areas)</label></div>
      </div>
      
      <h5>Mocks</h5>
      <div id="mocks">
        <div><input type="checkbox" id="MOCK_0" data-name="MOCK_0" onchange="toggleCapability(this)" checked><label for="MOCK_0">mock_0 (instant mock result)</label></div>
        <div><input type="checkbox" id="MOCK_01" data-name="MOCK_01" onchange="toggleCapability(this)" checked><label for="MOCK_01">mock_01 (100ms delayed mock result)</label></div>
        <div><input type="checkbox" id="MOCK_05" data-name="MOCK_05" onchange="toggleCapability(this)" checked><label for="MOCK_05">mock_05 (500ms delayed mock result)</label></div>
        <div><input type="checkbox" id="MOCK_1" data-name="MOCK_1" onchange="toggleCapability(this)"><label for="MOCK_1">mock_1 (1 sec delayed mock result)</label></div>
        <div><input type="checkbox" id="MOCK_5" data-name="MOCK_5" onchange="toggleCapability(this)"><label for="MOCK_5">mock_5 (5 sec delayed mock result)</label></div>
        <div><input type="checkbox" id="MOCK_GROUP_0" data-name="MOCK_GROUP_0" onchange="toggleCapability(this)"><label for="MOCK_GROUP_0">mock_group_0 (0 sec delayed mock group result)</label></div>
        <div><input type="checkbox" id="MOCK_GROUP_1" data-name="MOCK_GROUP_1" onchange="toggleCapability(this)"><label for="MOCK_GROUP_1">mock_group_1 (1 sec delayed mock group result)</label></div>
      </div>

      <input class="submit" type="submit" text="Submit">
    </form>
    
    <a href="/async">Try async</a>
  </div>
</body>
</html>
